<script>
    const formatterCom = new Intl.NumberFormat("pt-BR", {
        style: "currency",
        currency: "BRL",
    });

    const cnpjEmpresa = "<%=cnpj %>";
    const baseURL = "http://localhost:9005";

    let headerRef;

    let datainicio;
    let datafim;
    let selectvendedor;
    let pesquisando = false;

    const myheaders = new Headers();

    myheaders.append("cnpj", cnpjEmpresa);
    myheaders.append("Content-Type", "application/json");

    class Empresa {
        constructor() {
            this.id = null;
            this.cnpj = null;
            this.nome = null;
            this.razao_social = null;
            this.endereco = null;
            this.cep = null;
            this.bairro = null;
            this.cidade = null;
            this.uf = null;
        }
    }

    let _empresa = new Empresa();

    const size = 50;
    let page = 0;
    let maxLenght = 0;
    let maximoAtingido = false;

    let comissaoSoma = 0;

    async function loadHeader(vendedor) {
        $("#header-placeholder").empty();

        if (vendedor == undefined) {
            vendedor = " --- ";
        }

        await insertHeader(
            "RELATÓRIO DE COMISSÕES",
            {
                Período: `${datainicio.val()} - ${datafim.val()}`,
                Vendedor: `${vendedor}`,
            },
            "#header-placeholder",
            false
        ).then((ref) => {
            headerRef = ref;
        });
    }

    function insertHeader(titulo, filtros, appendTo, hide = false) {
        return fetch(`${baseURL}/v1/commonComponent/header`, {
            method: "POST",
            headers: myheaders,
            body: JSON.stringify({
                titulo: titulo,
                filtros: filtros,
            }),
        })
            .then((result) => {
                return result.text();
            })
            .then((text) => {
                $(appendTo).prepend(text);

                const ref = $("#default-header");

                if (hide) {
                    ref.attr("hidden", "true");
                }

                return ref;
            });
    }

    async function loadFooter() {
        $("#footer-placeholder").empty();

        await insertFooter(
            "#footer-placeholder",
            false
        ).then((ref) => { });
    }

    function insertFooter(appendTo, hide = false) {
        return fetch(`${baseURL}/v1/commonComponent/footer`, {
            method: "GET",
            headers: myheaders,
        })
            .then((result) => {
                return result.text();
            })
            .then((text) => {
                $(appendTo).prepend(text);

                const ref = $("#default-footer");

                if (hide) {
                    ref.attr("hidden", "true");
                }

                return ref;
            });
    }

    async function filtrarItens(todasAsPaginas = false, append = true) {
        await fetch(
            `/v1/comissao/get_comissao_por_item?dataInicio=${formatDateToAPI(
                datainicio.val(),
                5,
                1
            )}&dataFim=${formatDateToAPI(
                datafim.val(),
                19,
                59
            )}&idVendedor=${parseInt(selectvendedor.val())}&numberPage=${page}${todasAsPaginas ? "&todasAsPaginas=true" : ""
            }`,
            {
                method: "GET",
                headers: myheaders,
                // body: JSON.stringify({
                //     "id_venda": {
                //         "data_saida": {
                //             "inicio": datainicio.val(),
                //             "fim": datafim.val()
                //         },
                //         "gerado": "SIM",
                //         "id_vendedor": {
                //             "id": parseInt(selectvendedor.val())
                //         }
                //     },
                //     "pageInfo": {
                //         "size": 100,
                //         "page": page
                //     }
                // })
            }
        ).then(async (response) => {
            await response.json().then((data) => {
                maxLenght = data.length;

                console.log(data);

                let tableBody = $("#table-dados");

                if (!append || page === 0) {
                    tableBody.empty();
                    comissaoSoma = 0;

                    if (todasAsPaginas) {
                        page = data.number;
                    }
                }

                for (let index = 0; index < data.content.length; index++) {
                    const valor = data.content[index];
                    // tableBody.append(
                    //     $(`<tr class="table-row">`)
                    //         .append(`<td style="width: 40px">${valor.id_venda}</td>`)
                    //         .append(`<td style="width: 70px; text-align: center">${formatarDate(valor.data_saida)}</td>`)
                    //         .append(`<td  style="width: 300px">( ${valor.id_produto} ) ${valor.nome_produto}</td>`)
                    //         .append(`<td style="width: 80px">${valor.comissao_indice}</td>`)
                    //         .append(`<td style="width: 15px">${parseFloat(valor.comissao_percentual).toFixed(2)}</td>`)
                    //         .append(`<td style="text-align: right; padding-right: 5px;">${formatterCom.format(valor.comissao_valor)}</td>`)
                    // );
                    tableBody.append(
                        $(`<tr class="table-row">`)
                            .append(`<td>${valor.id_venda}</td>`)
                            .append(`<td class="text-center">${formatarDate(valor.data_saida)}</td>`)
                            .append(`<td>( ${valor.id_produto} ) ${valor.nome_produto}</td>`)
                            .append(`<td class="text-end pe-5">${formatterCom.format(valor.vl_total)}</td>`)
                            .append(`<td>${valor.comissao_indice}</td>`)
                            .append(`<td>${parseFloat(valor.comissao_percentual).toFixed(2)}</td>`)
                            .append(`<td style="text-align: right; padding-right: 5px;">${formatterCom.format(valor.comissao_valor)}</td>`
                            )
                    );

                    comissaoSoma += valor.comissao_valor;
                }

                maximoAtingido = (page + 1) * 50 >= maxLenght;

                let tableTotal = $("#total-dados");
                tableTotal.empty();
                if (todasAsPaginas || maximoAtingido) {
                    tableTotal
                        .append(`<td></td>`)
                        .append(`<td></td>`)
                        .append(`<td></td>`)
                        .append(`<td></td>`)
                        .append(`<td></td>`)
                        .append(`<td>TOTAL:</td>`)
                        .append(`<td style="text-align: right; padding-right: 5px;">${formatterCom.format(comissaoSoma)}</td>`
                        );

                    $("#rowBtnFinal").prop("hidden", "true");
                }

                console.log("TERMINOU DE RENDERIZAR OS ITENS");
            });
        });
    }

    /** depreciado **/
    async function filtrarResumo() {
        await fetch(
            `/v1/comissao/get_comissao_group_by_indice?dataInicio=${formatDateToAPI(
                datainicio.val(),
                5,
                1
            )}&dataFim=${formatDateToAPI(
                datafim.val(),
                19,
                59
            )}&idVendedor=${parseInt(selectvendedor.val())}`,
            {
                method: "GET",
                headers: myheaders,
            }
        ).then(async (response) => {
            await response.json().then(
                (data) => {
                    let tableBody = $("#table-dados-resumo");

                    if (page === 0) tableBody.empty();

                    let totalVendas = 0.0;
                    let totalComissao = 0.0;

                    if (data instanceof Array) {
                        for (let index = 0; index < data.length; index++) {
                            const valor = data[index];
                            // tableBody.append(
                            //     $(`<tr class="table-row">`)
                            //         .append(`<td style="width: 40px">${valor.descricaoDoIndice}</td>`)
                            //         .append(`<td style="text-align: right; padding-right: 5px; width: 25px;">${formatterCom.format(valor.total)}</td>`)
                            //         .append(`<td style="text-align: right; padding-right: 5px; width: 25px;">${parseFloat(valor.percentual).toFixed(2)}</td>`)
                            //         .append(`<td style="text-align: right; padding-right: 5px; width: 25px;">${formatterCom.format(valor.comissao)}</td>`)
                            // );

                            totalVendas += valor.total;
                            totalComissao += valor.comissao;
                        }
                    }

                    //$("tfoot").remove();

                    let tableFoot = $("#totais-resumo");
                    tableFoot.empty();

                    tableBody.append(
                        $(
                            `<th scope="row" class="ps-2"></th><td class="text-end pe-3"></td><td></td><td class="text-end pe-2">${formatterCom.format(
                                totalComissao
                            )}</td>`
                        )
                    );
                },
                (erro) => {
                    let tableBody = $("#table-dados-resumo");

                    tableBody.empty();
                }
            );
        });
    }

    async function totalConfereIndice() {
        $("#total-confere-indice").empty();

        await fetch(
            `/v1/comissao/get_comissao_group_by_indice?dataInicio=${formatDateToAPI(
                datainicio.val(),
                5,
                1
            )}&dataFim=${formatDateToAPI(
                datafim.val(),
                19,
                59
            )}&idVendedor=${parseInt(selectvendedor.val())}`,
            {
                method: "GET",
                headers: myheaders,
            }
        ).then(async (response) => {
            await response.json().then(
                (data) => {
                    if (data instanceof Array) {
                        const totalIndice = data.reduce((acc, valor) => {
                            return acc + valor.comissao;
                        }, 0);

                        $("#total-confere-indice").append(
                            `Total: ${formatterCom.format(totalIndice)}`
                        );
                    }
                },
                (erro) => {
                    $("#total-confere-indice").append("----");
                }
            );
        });
    }

    async function filtrar(todasAsPaginas = false) {
        if (!pesquisando) {
            $(".container-table").attr("hidden", "true");

            $("#container-loader").removeAttr("hidden");

            $("#rowBtnFinal").removeAttr("hidden");

            pesquisando = true;

            let itens = filtrarItens(todasAsPaginas, false);
            let confere = totalConfereIndice();
            // let resumo = filtrarResumo();

            await Promise.all([itens, confere]).then((v) => {
                console.log("RESOLVEU filtrarItens, filtrarResumo");
                pesquisando = false;

                $(".container-table").removeAttr("hidden");

                $("#container-loader").attr("hidden", "true");
            });
        }
    }

    function formatDateToAPI(date, hour, minute) {
        let _date = new Date(date);
        _date.setUTCHours(hour, minute);

        return _date.toISOString();
    }

    formatarDate = (datestring) => {
        let _array = datestring.split("T")[0].split("-");
        let retorno = _array[2] + "/" + _array[1] + "/" + _array[0];
        return retorno;
    };

    setTimeout(async () => {
        let primaryday = new Date();
        let lastday = new Date();

        primaryday.setFullYear(
            primaryday.getFullYear(),
            primaryday.getMonth(),
            1
        );
        lastday.setFullYear(lastday.getFullYear(), lastday.getMonth() + 1, 0);

        datainicio = $("#iniciodata");
        datainicio.val(primaryday.toISOString().split("T")[0]);

        datafim = $("#fimdata");
        datafim.val(lastday.toISOString().split("T")[0]);

        selectvendedor = $("#vendedor");

        $("#btnImpressao").on("click", async (event) => {
            page = 0;

            let nome_empresa = $("#nome-empresa");
            nome_empresa.empty();
            let nome_vendedor = $("#nome-vendedor");
            nome_vendedor.empty();
            let date_inicio_header = $("#date-inicio-header");
            date_inicio_header.empty();
            let date_fim_header = $("#date-fim-header");
            date_fim_header.empty();
            let date_impresso_em = $("#impresso-em");
            date_impresso_em.empty();

            // console.log(_empresa.nome, " / ", selectvendedor.html(), " / ", datainicio.val(), " / ", datafim.val());

            // console.log(selectvendedor);

            nome_empresa.append(_empresa.nome);
            nome_vendedor.append(selectvendedor.find(":selected").text());
            date_inicio_header.append(formatarDate(datainicio.val()));
            date_fim_header.append(formatarDate(datafim.val()));
            date_impresso_em.append(new Date().toLocaleString());

            const loading = [
                filtrar(true, false),
                loadHeader(selectvendedor.find(":selected").text()),
            ];

            await Promise.all(loading).then(async (value) => {
                window.print();
            });
        });

        $("#btnfiltrar").on("click", (event) => {
            page = 0;
            maximoAtingido = false;

            let nome_empresa = $("#nome-empresa");
            nome_empresa.empty();
            let nome_vendedor = $("#nome-vendedor");
            nome_vendedor.empty();
            let date_inicio_header = $("#date-inicio-header");
            date_inicio_header.empty();
            let date_fim_header = $("#date-fim-header");
            date_fim_header.empty();

            nome_empresa.append(_empresa.nome);
            nome_vendedor.append(selectvendedor.find(":selected").text());
            date_inicio_header.append(
                new Date(datainicio.val()).toLocaleDateString()
            );
            date_fim_header.append(
                new Date(datafim.val()).toLocaleDateString()
            );

            filtrar();
        });

        $("#btnFinal").on("click", (event) => {
            let nome_empresa = $("#nome-empresa");
            nome_empresa.empty();
            let nome_vendedor = $("#nome-vendedor");
            nome_vendedor.empty();
            let date_inicio_header = $("#date-inicio-header");
            date_inicio_header.empty();
            let date_fim_header = $("#date-fim-header");
            date_fim_header.empty();

            nome_empresa.append(_empresa.nome);
            nome_vendedor.append(selectvendedor.find(":selected").text());
            date_inicio_header.append(datainicio.val());
            date_fim_header.append(datafim.val());

            filtrar(true);
        });

        await fetch(`/v1/empresa/get_by_model`, {
            method: "POST",
            headers: myheaders,
            body: JSON.stringify({
                id: 1,
            }),
        }).then(
            (response) => {
                response.json().then((value) => {
                    _empresa = value.content[0];
                    console.log(_empresa);
                });
            },
            (erro) => {
                alert(
                    "Não foi possível buscar os dados da empresa. Não será possível filtrar as informações. Erro: ",
                    erro["message"]
                );
            }
        );

        $(document).ready(function () {
            loadFooter();

            $("#container-table-body").on("scroll", (event) => {
                const jaCarregado = (page + 1) * size;
                if (jaCarregado >= maxLenght) {
                    maximoAtingido = true;
                }

                if (
                    event.target.scrollTop + event.target.clientHeight >=
                    event.target.scrollHeight &&
                    !pesquisando &&
                    !maximoAtingido
                ) {
                    console.log(
                        "Carregar mais itens: ",
                        page,
                        "=>",
                        page + 1,
                        "- Falta: ",
                        maxLenght - jaCarregado
                    );
                    page++;
                    filtrarItens(false, true);
                }
            });
        });
    }, 100);

    fetch("/v1/vendedor/get_by_model", {
        method: "POST",
        headers: myheaders,
        body: JSON.stringify({
            ativo: "SIM",
            pageInfo: {
                size: 1000,
                page: 0,
            },
        }),
    }).then((response) => {
        response.json().then((data) => {
            for (var index = 0; index < data.length; index++) {
                $("#vendedor").append(
                    '<option value="' +
                    data.content[index].id +
                    '">' +
                    data.content[index].nome +
                    "</option>"
                );
            }
        });
    });
</script>

<style>
    .container-wrapper {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 7em);
    }

    .form {
        border-radius: 5px;
        box-shadow: 0px 0px 4px 6px #dbdbdb;
        text-transform: capitalize;
    }

    .btnAll {
        font-size: smaller;
        border: none;
        padding: 5px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    .btnAll:hover {
        background-color: rgb(136, 136, 136);
        color: black;
    }

    .form button {
        border: none;
        padding: 5px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    .form button:hover {
        background-color: rgb(136, 136, 136);
        color: black;
    }

    .container-table-body-resumo,
    .container-table-body {
        overflow-x: auto;
        margin-top: 5px;
    }

    .report-header {
        display: block;
    }

    .titulo-sessao {
        padding: 5px;
        font-weight: bold;
        font-family: "Courier New", Courier, monospace;
        border: solid 1px black;

        display: flex;
        justify-content: space-between;
    }

    .titulo-sessao div {
        font-size: 11px !important;
        font-family: "Courier New", Courier, monospace;
    }

    .loader {
        margin: 200px auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }

    footer {
        flex-shrink: 0;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .myTable,
    th,
    td {
        font-size: 11px !important;
    }

    .myTable tfoot {

        tr,
        td {
            font-weight: bold;
        }
    }
</style>

<style media="print">
    * {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    .myTable tbody tr td {
        font-size: 7pt !important;
        line-height: 2pt !important;
    }

    .myTable tfoot tr td {
        font-size: 6pt !important;
        line-height: 6pt !important;
    }

    .myTable tfoot tr {
        margin-top: 50px;
    }

    .wrapper {
        max-height: 100%;
    }

    .report-header {
        display: block;
    }

    .div-label {
        display: flex;
        justify-content: flex-end;
    }

    .label-header {
        padding: 0 5px;
        font-weight: bold;
    }

    .nome-empresa {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0 5px;
        margin: 0 0 5px 0;
    }

    .impresso-em {
        display: inline-flex;
        text-align: right;
    }

    .titulo-relatorio {
        padding: 5px;
        font-size: 1rem;
    }

    #container-table-body {
        /* height: 100% !important;    */
        overflow: visible !important;
        max-height: 100% !important;
    }

    #footer-placeholder {
        position: fixed;
        bottom: 0;
        width: max-content;
    }

    @page {
        size: portrait;
        margin: 0;
        /* margin-top: 0mm;
		margin-bottom: 0mm; */
        /* margin-right: 10mm;
        margin-left: 10mm; */

    }
</style>

<div class="wrapper g-0 m-0 p-2 container-wrapper">
    <form class="form p-2">
        <div class="row">
            <div class="col">
                <label for="iniciodata" class="form-label">Data Início</label>
                <input id="iniciodata" class="form-control" lang="pt-BR" type="date" />
            </div>
            <div class="col">
                <label for="fimdata" class="form-label">Data final</label>
                <input id="fimdata" class="form-control" lang="pt-BR" type="date" />
            </div>
            <div class="col">
                <label for="vendedor" class="form-label">vendedor</label>
                <select id="vendedor" class="form-control"></select>
            </div>
            <div class="col p-2">
                <button type="button" class="mt-4" id="btnfiltrar">
                    FILTRAR
                </button>
                <button type="button" class="mt-4" id="btnImpressao">
                    IMPRESSÃO
                </button>
            </div>
            <div class="col-4"></div>
        </div>
    </form>

    <div hidden id="container-loader" class="row">
        <div class="loader"></div>
    </div>

    <div id="header-placeholder" class="report-header mb-2"></div>

    <!-- <section id="report-header" class="report-header mb-2">
        <div>
            <div id="nome-empresa" class="nome-empresa"></div>
            <div class="impresso-em">
                <div>Impresso Em: </div>
                <div id="impresso-em"></div>
            </div>
            <div class="titulo-relatorio">RELATÓRIO DE COMISSÕES</div>
        </div>
        <div class="div-label">
            <div class="label-header">VENDEDOR:</div>
            <div id="nome-vendedor"></div>

            <div id="periodo-container" class="div-label">
                <div class="label-header">PERÍODO:</div>
                <div id="date-inicio-header" class="date"></div>
                <div> - </div>
                <div id="date-fim-header" class="date"></div>
            </div>
        </div>
    </section> -->

    <!-- <div class="row">
        <div id="container-table-body-resumo" class="table-responsive">
            <div class="titulo-sessao">COMISSÃO TOTAL</div>
            <table id="table-resumo" class="table table-striped  table-hover myTable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-end"></th>
                        <th scope="col" class="text-end"></th>
                        <th scope="col" class="text-end pe-2">Comissão</th>
                    </tr>
                </thead>
                <tbody id="table-dados-resumo">

                </tbody>
                <tfoot id="totais-resumo">

                </tfoot>
            </table>
        </div>
    </div> -->

    <table class="w-100">
        <tbody style="margin-bottom: 20px;">
            <tr>
                <td class="p-2">
                    <div class="titulo-sessao">
                        LISTAGEM
                        <div id="total-confere-indice"></div>
                    </div>
                    <div class="table-wrapper" id="container-table-body" style="overflow-x: auto">
                        <table class="table table-striped table-hover myTable" style="max-height: 99%">
                            <thead>
                                <tr>
                                    <th scope="col">Cód</th>
                                    <th scope="col" class="text-center">Data</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col" class="text-end pe-5">Venda</th>
                                    <th scope="col">Condição</th>
                                    <th scope="col">%</th>
                                    <th scope="col" class="text-end pe-2">Comissão</th>
                                </tr>
                            </thead>
                            <tbody id="table-dados"></tbody>
                            <tbody>
                                <tr id="total-dados"></tr>
                            </tbody>
                            <tfoot>
                                <tr id="rowBtnFinal">
                                    <th scope="col"></th>
                                    <th scope="col" class="text-center"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col" class="text-end pe-2">
                                        <button type="button" class="btnAll mt-4" id="btnFinal">
                                            CARREGAR TUDO
                                        </button>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="p-2">
                    <div id="footer-placeholder"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>