<style>
    @media print {
        * {
            color: #000 !important;
            text-shadow: none ! important;
            filter: none !important;
            -ms-filter: none !important;
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
            font-size: 10pt;
            orphans: 0;


        }

        .container {
            padding: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            max-width: none !important;
            min-width: unset !important;

        }

        @page {
            size: auto;
            margin-top: 0.45cm;
            margin-bottom: 0.45cm;
            margin-left: 0.5cm;
            margin-right: 0.5cm;
            padding-top: 1cm;

        }

        @page: first {
            margin: 0;
        }


        .titleHeader {
            font-size: 8pt;
        }

        .footer_cust {
            font-weight: bold;
            border-top-color: black;
            border-top-width: 1px;
        }

        body {
            margin: 0.25in;
            padding: 0.2cm;
        }

        td {
            font-size: 8pt;
        }

        .table_wraper {
            margin-left: 0.5cm;
            margin-right: 0.5cm;
        }

        .tabela tfoot {
            display: table-row-group;
        }

        .title_box {
            border-style: none;
            text-align: center;
            margin-left: 0.5cm;
            margin-right: 0.5cm;
            padding: 0.2cm;
        }

        .header_box {
            margin-left: 0.2cm;
            margin-right: 0.5cm;
        }

        .form {
            display: none;
        }

        .navbar {
            display: none;
        }

        .tabspane {
            display: none;
        }
    }
</style>
<script>

</script>
<div class="container">
    <div id="header">

    </div>
    <div id="body">
        
    </div>
</div>