<script>
    const baseURL = "http://localhost:9005";
    const cnpjEmpresa = "<%= cnpj %>";

    let datainicio;
    let datafim;
    let vendedorSelectRef;

    let carregandoDados = false;

    const myheaders = new Headers();
    myheaders.append("cnpj", cnpjEmpresa);
    myheaders.append("Content-Type", "application/json");

    const pageSize = 50;
    let pageCarregada = 0;
    let maxLenght = 0;
    let maximoAtingido = false;

    let comissaoSoma = 0;
    let vendasSoma = 0;

    function startDates() {
        let primaryday = new Date();
        let lastday = new Date();

        primaryday.setFullYear(
            primaryday.getFullYear(),
            primaryday.getMonth(),
            1
        );

        lastday.setFullYear(lastday.getFullYear(), lastday.getMonth() + 1, 0);

        datainicio = $("#iniciodata");
        datainicio.val(primaryday.toISOString().split("T")[0]);

        datafim = $("#fimdata");
        datafim.val(lastday.toISOString().split("T")[0]);
    }

    function loadVendedores() {
        fetch("/v1/vendedor/get_by_model", {
            method: "POST",
            headers: myheaders,
            body: JSON.stringify({
                ativo: "SIM",
                pageInfo: {
                    size: 1000,
                    page: 0,
                },
            }),
        }).then((response) => {
            response.json().then((data) => {
                for (var index = 0; index < data.length; index++) {
                    $("#vendedor").append(
                        '<option value="' +
                        data.content[index].id +
                        '">' +
                        data.content[index].nome +
                        "</option>"
                    );
                }
            });
        });
    }

    async function loadHeader(vendedor) {
        $("#header-placeholder").empty();

        if (vendedor == undefined) {
            vendedor = " --- ";
        }

        await insertHeader_Global(
            "RELATÓRIO DE COMISSÕES",
            {
                Período: `${formatDateToLocal_Global(datainicio.val())} - ${formatDateToLocal_Global(datafim.val())}`,
                Vendedor: `${vendedor}`,
            },
            "#header-placeholder",
            false
        )
    }

    async function loadFooter() {
        $("#footer-placeholder").empty();

        await insertFooter_Global(
            "#footer-placeholder",
            false
        )
    }

    async function filtrarResumo() {
        await fetch(
            `/v1/comissao/get_comissao_group_by_indice?dataInicio=${formatDateToAPI_Global(
                datainicio.val(),
                5,
                1
            )}&dataFim=${formatDateToAPI_Global(
                datafim.val(),
                19,
                59
            )}&idVendedor=${parseInt(vendedorSelectRef.val())}`,
            {
                method: "GET",
                headers: myheaders,
            }
        ).then(async (response) => {
            await response.json().then(
                (data) => {
                    console.log('Resumo:', data);

                    let tableBody = $("#table-dados-resumo");

                    if (pageCarregada === 0) tableBody.empty();

                    let totalVendas = 0.0;
                    let totalComissao = 0.0;

                    if (data instanceof Array) {
                        for (let index = 0; index < data.length; index++) {
                            const valor = data[index];
                            tableBody.append(
                                $(`<tr class="table-row">`)
                                    .append(`<td style="width: 40px">${valor.descricaoDoIndice}</td>`)
                                    .append(`<td style="text-align: right; padding-right: 5px; width: 25px;">${formatMoeda_Global.format(valor.total)}</td>`)
                                    .append(`<td style="text-align: right; padding-right: 5px; width: 25px;">${parseFloat(valor.percentual).toFixed(2)}</td>`)
                                    .append(`<td style="text-align: right; padding-right: 5px; width: 25px;">${formatMoeda_Global.format(valor.comissao)}</td>`)
                            );

                            totalVendas += valor.total;
                            totalComissao += valor.comissao;
                        }

                        $("#total-confere-indice").append(
                            `Total: ${formatMoeda_Global.format(totalComissao)}`
                        );
                    }

                    //$("tfoot").remove();

                    let tableFoot = $("#totais-resumo");
                    tableFoot.empty();

                    tableBody.append(
                        $(
                            `<th scope="row" class="ps-2"></th><td class="text-end" style="padding-right: 5px">${formatMoeda_Global.format(
                                totalVendas
                            )}</td><td></td><td class="text-end pe-2">${formatMoeda_Global.format(
                                totalComissao
                            )}</td>`
                        )
                    );
                },
                (erro) => {
                    let tableBody = $("#table-dados-resumo");
                    tableBody.empty();
                    
                    $("#total-confere-indice").append("----");
                }
            );
        });
    }

    async function filtrarItens(todasAsPaginas = false, append = true) {
        await fetch(
            `/v1/comissao/get_comissao_por_item?dataInicio=${formatDateToAPI_Global(
                datainicio.val(),
                5,
                1
            )}&dataFim=${formatDateToAPI_Global(
                datafim.val(),
                19,
                59
            )}&idVendedor=${parseInt(vendedorSelectRef.val())}&numberPage=${pageCarregada}${todasAsPaginas ? "&todasAsPaginas=true" : ""
            }`,
            {
                method: "GET",
                headers: myheaders,
            }
        ).then(async (response) => {
            await response.json().then((data) => {
                maxLenght = data.length;

                console.log('Itens', data);

                let tableBody = $("#table-dados");

                if (!append || pageCarregada === 0) {
                    tableBody.empty();
                    comissaoSoma = 0;
                    vendasSoma = 0;

                    if (todasAsPaginas) {
                        pageCarregada = data.number;
                    }
                }

                for (let index = 0; index < data.content.length; index++) {
                    const valor = data.content[index];

                    tableBody.append(
                        $(`<tr class="table-row">`)
                            .append(`<td class="col-1">${valor.id_venda}</td>`)
                            .append(`<td class="text-center col-1">${formatDateToLocal_Global(valor.data_saida)}</td>`)
                            .append(`<td class="col-2 nowrap-col-ellipsis">( ${valor.id_produto} ) ${valor.nome_produto}</td>`)
                            .append(`<td class="col-2 nowrap-col"> ${valor.status}</td>`)
                            .append(`<td class="text-end pe-2 col-1">${formatMoeda_Global.format(valor.vl_total)}</td>`)
                            .append(`<td class="col-2 nowrap-col">${valor.comissao_indice}</td>`)
                            .append(`<td class="col-1 text-end">${parseFloat(valor.comissao_percentual).toFixed(2).replace('.', ',')} </td>`)
                            .append(`<td class="col-1" style="text-align: right; padding-right: 5px;">${formatMoeda_Global.format(valor.comissao_valor)}</td>`
                            )
                    );

                    comissaoSoma += valor.comissao_valor;
                    vendasSoma += valor.vl_total;
                }

                maximoAtingido = (pageCarregada + 1) * 50 >= maxLenght;

                let tableTotal = $("#total-dados");
                tableTotal.empty();
                if (todasAsPaginas || maximoAtingido) {
                    tableTotal
                        .append(`<td>TOTAL:</td>`)
                        .append(`<td></td>`)
                        .append(`<td></td>`)
                        .append(`<td></td>`)
                        .append(`<td class="pe-2 text-end">${formatMoeda_Global.format(vendasSoma)}</td>`)
                        .append(`<td></td>`)
                        .append(`<td></td>`)
                        .append(`<td style="text-align: right; padding-right: 5px;">${formatMoeda_Global.format(comissaoSoma)}</td>`
                        );

                    $("#rowBtnCarregarTudo").prop("hidden", "true");
                }

                console.log("TERMINOU DE RENDERIZAR OS ITENS");
            });
        });
    }

    async function filtrar(todasAsPaginas = false) {
        if (!carregandoDados) {
            $(".container-table").attr("hidden", "true");

            $("#container-loader").removeAttr("hidden");

            $("#rowBtnCarregarTudo").removeAttr("hidden");

            carregandoDados = true;

            $("#total-confere-indice").empty();
            let itens = filtrarItens(todasAsPaginas, false);
            let resumo = filtrarResumo();

            await Promise.all([itens, resumo]).then((v) => {
                console.log("RESOLVEU filtrarItens, filtrarResumo");
                carregandoDados = false;

                $(".container-table").removeAttr("hidden");

                $("#container-loader").attr("hidden", "true");
            });
        }
    }

    function onFimTablelaCarregarMais() {
            const jaCarregado = (pageCarregada + 1) * pageSize;

            if (jaCarregado >= maxLenght) {
                maximoAtingido = true;
            }

            if(!maximoAtingido) {
                pageCarregada++;
                filtrarItens(false, true);
            }
        }

    function addListenerFimTabela() {
        const refFimTabela = $('#total-dados');
        const verificaChegouFimTabela = elementoVisivelState_Global(refFimTabela, onFimTablelaCarregarMais);

        $(window).on('DOMContentLoaded load resize scroll', verificaChegouFimTabela);
    }

    /** carrega vendedores **/
    loadVendedores();

    setTimeout(async () => {
        startDates();

        vendedorSelectRef = $("#vendedor");

        function addListenerBotaoImpressao() {
            $("#btnImpressao").on("click", async (event) => {
                pageCarregada = 0;

                const loading = [
                    filtrar(true, false),
                    loadHeader(vendedorSelectRef.find(":selected").text()),
                    loadFooter(),
                ];

                await Promise.all(loading).then(async (value) => {
                    window.print();
                });
            });
        }

        function addListenerBotaoFiltrar() {
            $("#btnfiltrar").on("click", (event) => {
                pageCarregada = 0;
                maximoAtingido = false;

                $("#table-dados-resumo").empty();

                filtrar();
            });

        }

        function addListenerBotaoCarregarTudo() {
            $("#btnCarregarTudo").on("click", (event) => {
                filtrar(true);
            });
        }

        addListenerBotaoImpressao();
        addListenerBotaoFiltrar();
        addListenerBotaoCarregarTudo();

        $(document).ready(function () {
            addListenerFimTabela();
        });
    }, 100);
</script>

<style>
    .container-wrapper {
        display: flex;
        flex-direction: column;
        /* max-height: calc(100vh - 7em); */
    }

    .nowrap-col {
        text-wrap: nowrap;
        white-space: nowrap;
    }

    .nowrap-col-ellipsis {
        font-size: smaller;
        overflow: hidden;
        text-wrap: nowrap;
        white-space: nowrap;
        text-overflow: ellipsis !important;
    }

    .form {
        border-radius: 5px;
        box-shadow: 0px 0px 4px 6px #dbdbdb;
        text-transform: capitalize;
    }

    .btnAll {
        font-size: smaller;
        border: none;
        padding: 5px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    .btnAll:hover {
        background-color: rgb(136, 136, 136);
        color: black;
    }

    .form button {
        border: none;
        padding: 5px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    .form button:hover {
        background-color: rgb(136, 136, 136);
        color: black;
    }

    .container-table-body-resumo,
    .container-table-body {
        overflow-x: auto;
        margin-top: 5px;
    }

    .report-header {
        display: none;
    }

    .titulo-sessao {
        padding: 5px;
        font-weight: bold;
        font-family: "Courier New", Courier, monospace;
        border: solid 1px black;

        display: flex;
        justify-content: space-between;
    }

    .titulo-sessao div {
        font-size: 11px !important;
        font-family: "Courier New", Courier, monospace;
    }

    .loader {
        margin: 200px auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .myTable,
    th,
    td {
        font-size: 11px !important;
    }

    .myTable tfoot {

        tr,
        td {
            font-weight: bold;
        }
    }
</style>

<style media="print">
    * {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    .wrapper {
        max-height: 100%;
    }

    .myTable tbody tr td {
        font-size: 7pt !important;
        line-height: 8pt !important;
    }

    .myTable tfoot tr td {
        font-size: 6pt !important;
        line-height: 6pt !important;
    }

    .myTable tfoot tr {
        margin-top: 50px;
    }

    .report-header {
        display: block;
    }

    .div-label {
        display: flex;
        justify-content: flex-end;
    }

    .label-header {
        padding: 0 5px;
        font-weight: bold;
    }

    .titulo-relatorio {
        padding: 5px;
        font-size: 1rem;
    }

    #container-table-body {
        /* height: 100% !important;    */
        /* overflow: hidden !important;
        max-height: 100% !important; */
    }

    @page {
        size: portrait;
        size: A4;
        margin-top: 3mm;
        margin-left: 4mm;
        margin-bottom: 4mm;
        margin-right: 4mm;
    }
</style>

<div class="wrapper g-0 m-0 p-2 container-wrapper">
    <form class="form p-2">
        <div class="row">
            <div class="col">
                <label for="iniciodata" class="form-label">Data Início</label>
                <input id="iniciodata" class="form-control" lang="pt-BR" type="date" />
            </div>
            <div class="col">
                <label for="fimdata" class="form-label">Data final</label>
                <input id="fimdata" class="form-control" lang="pt-BR" type="date" />
            </div>
            <div class="col">
                <label for="vendedor" class="form-label">vendedor</label>
                <select id="vendedor" class="form-control"></select>
            </div>
            <div class="col p-2">
                <button type="button" class="mt-4" id="btnfiltrar">
                    FILTRAR
                </button>
                <button type="button" class="mt-4" id="btnImpressao">
                    IMPRESSÃO
                </button>
            </div>
            <div class="col-4"></div>
        </div>
    </form>

    <div hidden id="container-loader" class="row">
        <div class="loader"></div>
    </div>

    <div id="header-placeholder" class="report-header mb-2"></div>

    <table class="w-100">
        <tbody style="margin-bottom: 20px;">
            <tr>
                <td class="p-2">
                    <div class="row">
                        <div id="container-table-body-resumo" class="table-responsive">
                            <div class="titulo-sessao">COMISSÃO POR ÍNDICE</div>
                            <table id="table-resumo" class="table table-sm tabela-listrada table-hover myTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Descrição</th>
                                        <th scope="col" class="text-end">Vendas Totais</th>
                                        <th scope="col" class="text-end">Percentual Final Total</th>
                                        <th scope="col" class="text-end pe-2">Comissão</th>
                                    </tr>
                                </thead>
                                <tbody id="table-dados-resumo">

                                </tbody>
                                <tfoot id="totais-resumo">

                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div>
                        <div class="titulo-sessao">
                            LISTAGEM
                            <div id="total-confere-indice"></div>
                        </div>
                        <div id="container-table-body">
                            <table class="table table-sm tabela-listrada table-hover myTable" style="max-height: 99%">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-1">Cód</th>
                                        <th scope="col" class="text-center col-1">Data</th>
                                        <th scope="col" class="col-2 nowrap-col-ellipsis">Produto</th>
                                        <th scope="col" class="col-2 nowrap-col">Tipo</th>
                                        <th scope="col" class="col-1 text-end pe-2">Venda</th>
                                        <th scope="col" class="col-2 nowrap-col">Condição</th>
                                        <th scope="col" class="col-1 text-end nowrap-col">Percentutal (%)</th>
                                        <th scope="col" class="col-1 text-end pe-2">Comissão</th>
                                    </tr>
                                </thead>
                                <tbody id="table-dados"></tbody>
                                <tbody>
                                    <tr id="total-dados"></tr>
                                </tbody>
                                <tfoot>
                                    <tr id="rowBtnCarregarTudo">
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col" class="text-end pe-2">
                                            <button type="button" class="btnAll btn-sm" id="btnCarregarTudo">
                                                CARREGAR TUDO
                                            </button>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td id="footer-placeholder">
                    <!-- <div id="footer-placeholder"></div> -->
                </td>
            </tr>
        </tfoot>
    </table>
</div>