<%# Footer padrão para relatórios

    id para queries: '#default-footer'
%>


<style>
    .default-footer-container {
        border-top: 0.05mm solid black;
        display: flex;
        justify-content: end;
        width: 100%;
        height: 40px;
    }

    .img-viatech-footer {
        height: 100%;
    }
</style>

<div class="default-footer-container py-2" id="default-footer">
    <img class="img-viatech-footer" src="<%=imgViaTech%>">
</div>